*{
    box-sizing: border-box;
}
#camara_{
    color: limegreen;
}
#page_{
    color: limegreen;
}

#sol_{
    color: limegreen;
}
#rover_{
    color: limegreen;
}

body{
    background: ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
